<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.projeto"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:icon="@drawable/marathonicon" android:label="Let's Running" >
        <activity android:name="TelaSplashScreen"
                  android:label="Let's Running" 
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TelaLogin" 
                  android:label="Login"/>
        <activity android:name="TelaCadastroUsuario" 
                  android:label="Cadastro de Usuario"/>
        <activity android:name="TelaOpcoes" 
                  android:label="Opções"/>
        <activity android:name="TelaAtividade"
                  android:label="Atividade"/>
        <activity android:name="TelaHistorico"
                  android:label="Historico"/>
        <activity android:name="TelaHistoricoAtividade"
                  android:label="Atividade Concluida"/>
        <activity android:name="TelaMapa"
                  android:label="Mapa"/>
    </application>
</manifest> 
